<link rel="stylesheet" href="/css/product.css">

<div class="container">
  
 <div class="row">
  <% for(i = 0 ; i < products.length; i++){ %>
 <div class="col-3 product-card" >
    <div class="product-img text-center">
      <img src="https://rukminim1.flixcart.com/image/416/416/mobile/h/t/z/samsung-guru-e1200-original-imaddqj4wfzqjxwv.jpeg?q=70">     
    </div>
    <h5> <a href="/item/<%=products[i]._id %>"><%= products[i].name %></a></h5> 
    <h4> <b> <%= products[i].price %></b></h4>
 </div>
 <% }%>
 </div>   
</div>