<link rel="stylesheet" href="/css/product.css">
    <div class="container">
        <div class="row">
        <div class="col-4 img-left text-center">
              <img src="https://rukminim1.flixcart.com/image/416/416/mobile/h/t/z/samsung-guru-e1200-original-imaddqj4wfzqjxwv.jpeg?q=70">     
        </div>
        <div class="col-6">
        <h4><%= product.name %></h4>  
        <% for(j = 0 ; j < product.specifications.length; j++){ %>
            <% keys = Object.keys(product.specifications[j]) %>
         <% for(k = 0 ; k < keys.length; k++){ %>
            <li>
                <%=keys[k]%> - 
                <%= product.specifications[j][keys[k]]%>
             </li>
            <% } %>
            <% } %>
        </div>
        <div class="col-2">
            <h4> <b> INR <%= product.price %></b></h4>
            <form action="/">
                <button class="btn btn-primary" >Add to cart</button>
            </form>
        </div>
        </div>   
    </div>