<!DOCTYPE html>
<html>
<head>
    <title>
        signUp page
    </title>
</head>

<body>

    <form action="/signUp" method="POST">

        <label>Name</label>
        <input type="text" name="name" placeholder="Name" required>
        <label>Email</label>
        <input type="email" name="email" placeholder="123@example.com" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
        
        <button>signUp</button>
    </form>

</body>

</html>