<!DOCTYPE html>
<html>
<head>
    <title>
        signIn page
    </title>
</head>

<body>

    <form action="/signIn" method="POST">

        <label>Email</label>
        <input type="email" name="email" placeholder="123@example.com" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <button>SignIn</button>
    </form>

</body>

</html>